*{
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media screen and (min-width:1280px) {
#header{
  width: 100%;
  height: 300px;
  background-color: white;
  position: relative;
  top:0;
}
#header img{
  position: absolute;
  top: 0;
  width:30%;
  height: 100%;
  left:35%;
}
#btn{
  width: 5%;
  height: auto;
  font-size: large;
  color: #f1a0a4;
  margin-top: 1%;
  margin-left: 1%;
  cursor: pointer;
  position: absolute;
  right: 0;
 }
 #btn:hover{ 
  color:#b767df;
 }
#socialMedia{
  position:-webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  
  display: flex;
  justify-content: space-around;
  background-color: white;
  z-index: 1;

}
#socialMedia i{
  font-size: 50px;
color: #f1a0a4;
text-shadow: 5px 5px 5px #b767df;
}
#socialMedia i:hover{
  color:#b767df;
  text-shadow: 5px 5px 5px #f1a0a4;
}
#main1{
  width: 100%;
  height:400px;
  position: relative;
  
}
#article1{
  width: 60%;
  height: auto;
  position:absolute;
  left: 1%;
  float: left;
  background: #f1a0a4 ;
  border-radius: 15px;
}

#article1 h1{
  text-align: center;
  margin: 2%;
}
#paragraphe p{
  text-align: left;
  text-indent: 4%;
  margin: 1%;
}
#main1 img{
  width: 40%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  top:10%;
  right: 2%;
  z-index: -1;
}

#main2{
  width: 100%;
  height: 400px;
  position: relative;
  border-bottom: 5px solid #f1a0a4 ;
}
#article2{
  width: 70%;
  height: auto;
  position: absolute;
  float: left;
  padding-left: 3%;
  padding-right: 1%;
}
#article2 h1{
  margin-top: 7%;
}
#article2 p{
  font-size: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
#main2 img{
  width: 20%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  bottom:5%;
  right: 10%;
  animation: App-logo-spin infinite 20s linear;

}
.product .image-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 1%;
  row-gap: 1%;
  margin: 2%;
  text-align: center;
}

.product h1{
  font-size:500%;
  text-align: center;
  background-color: #f1a0a4;
  color:white;
}
.product .image-container img{
  width: 70%;
  height: 60%;
  border-radius: 15px;
  box-shadow: 15px 15px 15px 5px #f1a0a4;
}
.product .image-container h2{
  margin-top: 10%;
  margin-bottom: 0%;
  text-shadow: 10px 5px 5px #f1a0a4;
}
.product .image-info{
  border-bottom: 10px solid #f1a0a4 ;
  border-radius: 10px;
}
.sweet{
  margin-top:20% ;
}
.sweet .image-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 1%;
  row-gap: 1%;
  margin: 2%;
  text-align: center;
}
.sweet h1{
  font-size:500%;
  text-align: center;
  background-color: #c08dd9;
  color:white;
}
.sweet .image-container img{
  width: 70%;
  height: 60%;
  border-radius: 15px;
  box-shadow: 15px 15px 15px 5px #c08dd9;
}
.sweet .image-container h2{
  margin-top: 10%;
  margin-bottom: 0%;
  text-shadow: 10px 5px 5px #c08dd9;
}
.sweet .image-info{
  border-bottom: 10px solid #c08dd9 ;
  border-radius: 10px;
}
nav a{
  font-size: 30px;
  text-decoration: none;
  color:#f1a0a4;
  margin-left: 2%;
  margin-right:5% ;
 
}
footer{
  width: 100%;
  height: auto;
  margin-top: 10%;
  padding: 2%;
  text-align: center;
  background-color: #f1a0a4;
}
footer li{
  margin: 1%;
  list-style-type: none;
}
footer li a{
  color: black;
}
footer li a:hover{
  color:white;
}
#policy{
  margin: 4%;
}
#terms{
  margin: 4%;
  font-size: 100%;
}
#terms ul{
  margin-bottom: 4%;
}

}

@media screen and (max-width:1280px) {
  #header{
    width: 90%;
    height: 300px;
    background-color: white;
    position: relative;
    top:0;
  }
  #header img{
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    left:5%;
  }
  #btn{
    width: 5%;
    height: auto;
    font-size: large;
    color: #f1a0a4;
    margin-top: 1%;
    margin-left: 1%;
    cursor: pointer;
    position: absolute;
    right: 0;
   }
   #btn:hover{ 
    color:#b767df;
   }
  #socialMedia{
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    width: 90%;
    height: auto;
    
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
    margin-left: 1%;
  
  }
  #socialMedia i{
    font-size: 40px;
  color: #f1a0a4;
  text-shadow: 5px 5px 5px #b767df;
  }
  #socialMedia i:hover{
    color:#b767df;
    text-shadow: 5px 5px 5px #f1a0a4;
  }
  #main1{
    width: 100%;
    height:auto;
    position: relative;
    
  }
  #article1{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 2%;
    background: #f1a0a4 ;
    border-radius: 15px;
  }
  
  #article1 h1{
    text-align: center;
    margin: 2%;
  }
  #paragraphe p{
    text-align: left;
    text-indent: 4%;
    margin: 1%;
  }
  #main1 img{
    width: 100%;
    height: 30%;
    border-radius: 15px;
    position: relative;
    bottom: 0;
    left: 10%;
    margin-top: 0;
    z-index: -1;
  }
  
  #main2{
    width: 100%;
    height: 500px;
    position: relative;
    border-bottom: 5px solid #f1a0a4 ;
  }
  #article2{
    width: 70%;
    height: auto;
    position: relative;
    float: left;
    padding-left: 3%;
    padding-right: 1%;
  }
  #article2 h1{
    margin-top: 7%;
  }
  #article2 p{
    font-size: 100%;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
    
  }
  #main2 img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: relative;
    top: 10%;
    right: 0%;
    animation: App-logo-spin infinite 20s linear;
  
  }
  .product .image-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1%;
    row-gap: 1%;
    margin: 2%;
    text-align: center;
  }
  
  .product h1{
    font-size:500%;
    background-color: #f1a0a4;
    color:white;
  }
  .product .image-container img{
    width: 70%;
    height: 60%;
    border-radius: 15px;
    box-shadow: 15px 15px 15px 5px #f1a0a4;
  }
  .product .image-container h2{
    font-size: large;
    margin-top: 10%;
    margin-bottom: 0%;
    text-shadow: 10px 5px 5px #f1a0a4;
  }
  .product .image-info{
    border-bottom: 10px solid #f1a0a4 ;
    border-radius: 10px;
  }
  .sweet{
    margin-top:20% ;
  }
  .sweet .image-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1%;
    row-gap: 1%;
    margin: 2%;
    text-align: center;
  }
  .sweet h1{
    font-size:500%;
    text-align: center;
    background-color: #c08dd9;
    color:white;
  }
  .sweet .image-container img{
    width: 70%;
    height: 60%;
    border-radius: 15px;
    box-shadow: 15px 15px 15px 5px #c08dd9;
  }
  .sweet .image-container h2{
    font-size: large;
    margin-top: 10%;
    margin-bottom: 0%;
    text-shadow: 10px 5px 5px #c08dd9;
  }
  .sweet .image-info{
    border-bottom: 10px solid #c08dd9 ;
    border-radius: 10px;
  }
  nav a{
    font-size: 30px;
    text-decoration: none;
    color:#f1a0a4;
    margin-left: 2%;
    margin-right:5% ;
   
  }
  footer{
    width: 100%;
    height: auto;
    margin-top: 10%;
    padding: 2%;
    text-align: center;
    background-color: #f1a0a4;
  }
  footer li{
    margin: 1%;
    list-style-type: none;
  }
  footer li a{
    color: black;
  }
  footer li a:hover{
    color:white;
  }
  #policy{
    margin: 4%;
  }
  #terms{
    margin: 4%;
    font-size: 100%;
  }
  #terms ul{
    margin-bottom: 4%;
  }
  
  }